/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

/* PALETTE */
/*     'background':   '#181818', */
/*     'background1':  '#2e2e2e', */
/*     'foreground':   '#f8f8f8', */
/*     'foreground1':  '#b8b8b8', */

/*     'black':        '#181818', */
/*     'red':          '#ab4642', */
/*     'green':        '#a1b56c', */
/*     'yellow':       '#d7ba7d', */
/*     'blue':         '#7cafc2', */
/*     'magenta':      '#ba8baf', */
/*     'cyan':         '#86c1b9', */
/*     'white':        '#f8f8f8', */


* {
	border: none;
	border-radius: 0px;
	font-family: Ubuntu Nerd Font;
	font-size: 15px;
	min-height: 25px;
}

window#waybar {
	background: #181818;
}

window#waybar.hidden {
	opacity: 1;
}

#window {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	transition: none;
	color: #f8f8f8;
	background: #181818;

	font-family: sans-serif, Ubuntu Nerd Font;
	
}

#waybar.empty #window {
	background: none;
}

#workspaces {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
	
	border-radius: 0px;

	background: #2e2e2e;
	transition: none;
}

#workspaces button {
	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	transition: none;
	color: #f8f8f8;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #181818;
	background: #a1b56c;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: white;
}

#tray {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 5px;
	padding-right: 5px;

	background: #181818;
}

#network {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	transition: none;
	color: #181818;
	background: #ba8baf;
}

#backlight {
	margin-top: 5px;
       	margin-bottom: 5px;
       	margin-left: 3px;
       	margin-right: 3px;

       	padding-left: 8px;
       	padding-right: 8px;

       	border-radius: 0px;

       	transition: none;
       	color: #181818;
       	background: #d7ba7d;
}

#pulseaudio {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	transition: none;
	color: #181818;
	background: #86c1b9;
}

#temperature {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	transition: none;
	color: #181818;
	background: #ab4642;
}

#battery {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	color: #181818;
	background: #f8f8f8;
	transition: none;
}

#battery.warning {
}

#battery.critical {
}

#cpu {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	transition: none;
	color: #181818;
	background: #d7ba7d;
}

#memory {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;
	
	transition: none;
	color: #181818;
	background: #ab4642;
}

#language {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;
	
	transition: none;
	color: #181818;
	background: #a1b56c;
}

#clock {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 0px;

	transition: none;
	color: #f8f8f2;
	background: #2e2e2e;
}
